@font-face {
  font-family: "iconfont"; /* Project id 3556658 */
  src: url('iconfont.woff2?t=1661346122127') format('woff2'),
       url('iconfont.woff?t=1661346122127') format('woff'),
       url('iconfont.ttf?t=1661346122127') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuanze:before {
  content: "\e627";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-caiyouduo_zhifu-weixinzhifu:before {
  content: "\e686";
}

.icon-shoucang:before {
  content: "\e60f";
}

.icon-fapiao:before {
  content: "\e932";
}

.icon-haoping:before {
  content: "\e631";
}

.icon-yunshuzhongwuliu-xianxing:before {
  content: "\e882";
}

.icon-yinhangqia-xianxing:before {
  content: "\e936";
}

.icon-vip:before {
  content: "\e6c2";
}

.icon--kefu-xianxing:before {
  content: "\e8ab";
}

.icon-shezhi-xianxing:before {
  content: "\e8b7";
}

.icon-duihao:before {
  content: "\eaf1";
}

.icon-fangdajing:before {
  content: "\e662";
}

.icon-guanbi:before {
  content: "\e624";
}

.icon-smile:before {
  content: "\e9a7";
}

.icon-sad:before {
  content: "\e9a8";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-31tishi:before {
  content: "\e60e";
}

.icon-baoguofahuo-xianxing:before {
  content: "\e884";
}

.icon-anquanbaozhang-xianxing:before {
  content: "\e88c";
}

.icon-shaixuan:before {
  content: "\e8b6";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-fenlei:before {
  content: "\e60c";
}

.icon-zhuye:before {
  content: "\e607";
}

.icon-gerenzhongxin:before {
  content: "\e608";
}

.icon-yijia:before {
  content: "\e604";
}

.icon-weizhi:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-saoyisao_o:before {
  content: "\eb81";
}

.icon-xinxi:before {
  content: "\e6cd";
}

.icon-yu:before {
  content: "\e601";
}

.icon-yinliao:before {
  content: "\e602";
}

.icon-xuegao:before {
  content: "\e603";
}

.icon-tiaoliao:before {
  content: "\e605";
}

.icon-shucai:before {
  content: "\e606";
}

.icon-mimian:before {
  content: "\e609";
}

.icon-lingshi:before {
  content: "\e60a";
}

.icon-lengdongshipin:before {
  content: "\e60b";
}

.icon-dazhe:before {
  content: "\e60d";
}

.icon-qinlei:before {
  content: "\e612";
}

