body,html{
    font: 0.32rem/1.5  Microsoft YaHei;
    color: #000;
}

html,body,ul,p{
    margin: 0;
}
ul{
    padding: 0;
}
li{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    vertical-align: top;
}