.m-header {
    height: 0.6667rem;
    margin: 0.24rem 0.2533rem 0.2933rem 0.3867rem;
    /* background-color: red; */
    display: flex;
    /* align-items: center; */
}

.m-header a.logo {
    flex-grow: 1;
}

.m-header a.logo img {
    width: 1.9467rem;
}

.m-header a.search {
    margin-right: 0.6533rem;
}

.m-header a.search img {
    width: 0.5067rem;
}

.m-header a.login {
    margin-right: 0.56rem;
}

.m-header a.login img {
    width: 0.6133rem;
}

.m-header a.download {
    width: 1.92rem;
    height: 0.64rem;
    background: #FF9F00;
    color: white;
    text-align: center;
    line-height: 0.64rem;
    font-size: 0.32rem;
    border-radius: 0.1067rem;
}

.m-nav {
    height: 0.9867rem;
    /* background-color: yellow; */
    border-bottom: 0.0133rem solid #F3F3F3;
}

#swiper-nav {
    width: 100%;
    height: 100%;
}

#swiper-nav .swiper-slide {
    height: 0.9867rem;
    /* border-bottom: 0.0267rem solid red; */
}

#swiper-nav .swiper-slide a {
    display: inline-block;
    color: #6B6B6B;
    font-size: 0.3733rem;
    height: 0.96rem;
    line-height: 0.96rem;
    border-bottom: 0.0267rem solid transparent;

}

#swiper-nav .swiper-wrapper .swiper-slide .active {
    border-bottom: 0.0267rem solid #FF9F00;
    color: #FF9F00;
}

#swiper-nav .swiper-wrapper {
    padding-left: 0.4rem;
}

/* m-main start */
.m-main {
    margin: 0.2533rem 0.2533rem 0.24rem;
}

.m-main .m-banner {
    width: 9.4933rem;
    height: 3.1467rem;
}

#swiper-banner {
    width: 100%;
    height: 100%;
}

#swiper-banner .swiper-wrapper img {
    width: 100%;
    height: 100%;
}

/* 分页器样式 */
.swiper-pagination-bullet {
    background-color: #fff;
    opacity: .5;
    width: 0.1733rem;
    height: 0.08rem;
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

/* m-menu */
.m-menu {
    box-sizing: border-box;
    width: 100%;
    height: 4.1867rem;
    padding: 0.4rem 0rem 0.4133rem;
    background-color: #f7f7f7;
    margin-top: 0.24rem;
}

.m-menu img {
    width: 1.0133rem;
    height: 1.0133rem;
}

.m-menu ul {
    height: 100%;
    display: flex;
    align-items: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
}

.m-menu ul li {
    width: 20%;
    box-sizing: border-box;
    /* border: 0.0133rem solid red; */
    display: flex;
    justify-content: center;
}

.m-menu ul li a {
    width: 1.0133rem;
    text-align: center;
    color: #6B6B6B;
}

.m-menu ul li p {
    padding-top: 0.0533rem;
}

.m-menu ul li a img {
    width: 100%;
}


/* 热门推荐 */
.m-recommend {
    background: #F7F7F7;
    margin-top: 0.24rem;
}

.m-recommend .m-recommend-tab {
    height: 1.3867rem;
    display: flex;
    align-items: center;
}

.m-recommend .m-recommend-tab li {
    width: 1.5467rem;
    height: 0.56rem;
    line-height: 0.56rem;
    text-align: center;
    color: #6C6C6C;
    border: 0.0267rem solid #6B6B6B;
    border-radius: 0.2933rem;
    margin: 0 0.2267rem 0 0.16rem;
}

.m-recommend .m-recommend-tab .active {
    color: #FF9F00;
    border-color: #FF9F00;
}

.m-recommend-content {
    height: 3.9467rem;
    /* background-color: red; */
    overflow: hidden;
}

.m-recommend-content .m-recommend-list {
    width: 100%;
    height: 100%;
    display: none;
}

.m-recommend-list:nth-child(1) {
    /* background-color: gold */
}

.m-recommend-list:nth-child(2) {
    /* background-color: palevioletred */
}

.m-recommend-list:nth-child(3) {
    /* background-color: goldenrod */
}

#swiper-recommend1 {
    width: 100%;
    height: 100%;
}

/* 热门排行 重用样式 */
.common-list {
    width: 4.6133rem;
}

.common-list a {
    height: 2.5867rem;
    display: block;
    /* background-color: pink; */
    position: relative;
}

.common-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 图片裁剪 */
}

.common-list a .mask {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.7467rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .2));

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common-list a .mask .common-list-play {
    display: flex;
    align-items: center;
}

.common-list a .mask .common-list-play span {
    width: 0.4133rem;
    height: 0.36rem;
    background: url(..//image/播放02@2x.png);
    background-size: cover;
    margin-left: 0.1867rem;
}

.common-list a .mask .common-list-play i {
    font-size: 0.32rem;
    font-style: normal;
    color: white;
    margin-left: 0.16rem;
}

/* 右边 */
.common-list a .mask .common-list-info {
    display: flex;
    align-items: center;
}

.common-list a .mask .common-list-info span {
    width: 0.4133rem;
    height: 0.36rem;
    background: url(..//image/弹幕数_32@2x.png);
    background-size: cover;
    margin-right: 0.1867rem;
}

.common-list a .mask .common-list-info i {
    font-size: 0.32rem;
    font-style: normal;
    color: white;
    margin-right: 0.16rem;
}

/* 底部文字样式 */
.common-list .common-list-title {
    margin-top: 0.1867rem;
    height: 0.7733rem;
    line-height: 1.2;

    /* 超出部分省略号显示 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.common-list .common-list-title a {
    color: #000000;
}


/* 热门推荐 */
.m-hot {
    background: #F7F7F7;
    border-radius: 0.1067rem;

    margin-top: 0.24rem;
    padding: 0 0.2667rem;
}

.m-hot ul li {
    height: 1.0133rem;
    padding: 0.2667rem 0;
    border-bottom: 0.0133rem solid #E6E6E6;
}

.m-hot ul li:last-child {
    border: none;
}

.m-hot ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    /* background-color: red; */
}

.m-hot ul li a .m-hot-img {
    width: 1.0133rem;
    height: 100%;
    flex-shrink: 0;
}

.m-hot ul li a .m-hot-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.m-hot ul li a .m-hot-text {
    /* flex-grow: 1; */
    margin-left: 0.24rem;
    height: 100%;
    width: 7.0933rem;
}

.m-hot ul li a .icon-play {
    margin-right: 0.2rem;
    flex-shrink: 0;
}

.m-hot ul li a .m-hot-text .m-hot-title {
    font-size: 0.3467rem;
    color: #FF9F00;
    line-height: 1;
}

.m-hot ul li a .m-hot-text .m-hot-desc {
    color: #000;
    margin-top: 0.2267rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.m-hot ul li a .icon-play {
    margin-right: 0.2rem;
}
.m-hot ul li a .icon-play img{
    width: 0.5867rem;
}
/* m-hot end */


/* m-focus start */
.m-focus {
    background: #F7F7F7;
    border-radius: 0.1067rem;
    margin-top: 0.24rem;
}

.m-focus .m-focus-title {
    height: 1.0933rem;
    display: flex;
    align-items: center;
}

.m-focus .m-focus-title span {
    flex-grow: 1;
    font-size: 0.4267rem;
    margin-left: 0.1333rem;
}

.m-focus .m-focus-title a {
    font-size: 0.32rem;
    color: #B9B9BD;
    display: flex;
    align-items: center;
    margin-right: 0.2667rem;
}

.m-focus .m-focus-title a img {
    margin-left: 0.2533rem;
}

/* m-focus-content start */
.m-focus-content {
    width: 100%;
    height: 4.28rem;
    /* background-color: red; */
}

#swiper-focus {
    width: 100%;
    height: 100%;
}

#swiper-focus .swiper-slide {
    width: 2.2667rem;
}

/* 最近在看 样式 */
.m-focus .m-focus-content .swiper-slide a {
    display: block;
}

.m-focus .m-focus-content .swiper-slide a .m-focus-img {
    width: 100%;
    height: 3.04rem;
}

/* 图片适配 */
.m-focus .m-focus-content .swiper-slide a .m-focus-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.m-focus .m-focus-content .swiper-slide a p {
    color: black;
    line-height: 1.2;
    margin-top: 0.1733rem;
    text-align: center;
}

/* end m-focus */

/* m-view-list start*/
.m-view-list {
    margin-top: 0.24rem;
}

.m-view-list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.m-view-list ul li {
    width: 4.6133rem;
    margin-bottom: 0.3733rem;
}



/* 底部样式 */
.tabbar {
    width: 100%;
    height: 1.3333rem;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;

    /* 兼容 IOS < 11.2 */
    padding-bottom:constant(safe-area-inset-bottom);
    /* 兼容 IOS > 11.2 */
    padding-bottom: env(safe-area-inset-bottom);
}

.tabbar ul {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0.5867rem 0;
}

.tabbar ul li {
    width: 0.64rem;
}

.tabbar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.tabbar ul li a img{
    width:0.5333rem;
}
.tabbar ul .share {
    width: 1.04rem;
    height: 1.0133rem;
}

.tabbar ul .share a {
    width: 100%;
    height: 100%;
    border-radius: 0.3733rem;
    background: #FF9F00 url(../image/加号.png)no-repeat center;
    background-size: 0.4133rem 0.4rem;
}

.tabbar ul li a p {
    margin-top: 0.0533rem;
    color: black;
    position: relative;
}
.tabbar ul li a p i{
    width: 0.96rem;
    position: absolute;
    font-style: normal;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}