@font-face {
  font-family: "iconfont"; /* Project id 3557738 */
  src: url('iconfont.woff2?t=1661059296635') format('woff2'),
       url('iconfont.woff?t=1661059296635') format('woff'),
       url('iconfont.ttf?t=1661059296635') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e618";
}

.icon-web:before {
  content: "\e7bb";
}

.icon-css:before {
  content: "\e63b";
}

.icon-js:before {
  content: "\e65d";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-huiyuanguanli:before {
  content: "\e625";
}

.icon-kechengguanli:before {
  content: "\e62f";
}

.icon-yonghuguanli:before {
  content: "\e667";
}

.icon-vuejs:before {
  content: "\e849";
}

.icon-ketang:before {
  content: "\e67e";
}

.icon-youhuiquan:before {
  content: "\e8c0";
}

.icon-react:before {
  content: "\ec77";
}

.icon-banji:before {
  content: "\e641";
}

.icon-ren:before {
  content: "\e643";
}

.icon-fapiao:before {
  content: "\e932";
}

.icon-jiaoxuepingjia:before {
  content: "\e65c";
}

.icon-ren1:before {
  content: "\e685";
}

.icon-tubiao_qudao:before {
  content: "\e63a";
}

.icon-daichuli:before {
  content: "\e611";
}

.icon-a-dingdanyichenggong:before {
  content: "\e612";
}

.icon-yingxiao:before {
  content: "\e613";
}

