* {
    box-sizing: border-box;
}

body,
html {
    background-color: #F3F5F9;
}

.header {
    width: 100%;
    height: 115px;
    padding: 20px;
    background: #F3F5F9;
    border-radius: 10px;

    position: fixed;
    top: 0px;
    bottom: 0px;

    z-index: 222;


}

.header-content {
    height: 75px;
    background-color: #fff;
    border-radius: 10px;

    position: relative;
}

.header-content .logo {
    position: absolute;
    top: 20px;
    left: 32px;
}

.header-content ul {
    position: absolute;
    left: 151px;

    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 75px;
}

.header-content li {
    margin-right: 22px;
    cursor: pointer;
}

.header-content li:hover {
    width: 50px;
    height: 50px;
    background: #EEE8FC;
    border-radius: 10px;
    color: #9C71FC;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -7.5px;
}



.menu {
    width: 260px;

    background: #FFF;
    border-radius: 10px;

    position: fixed;
    top: 115px;
    left: 20px;
    bottom: 20px;

    padding: 20px;
}

.menu .menu-item {
    cursor: pointer;
    height: 40px;
    overflow: hidden;
    transition: height 1s;
}

/* .menu .menu-item:hover{
    height: 200px;
} */
.menu .menu-item .menu-item-title {
    height: 40px;
    width: 250px;
    display: flex;
    align-items: center;
    color: #5b5b5b;
    font-size: 16px;
    background: url(../img/课程.png) no-repeat right center;

}

.menu .menu-item .menu-item-active {
    background-color: #F77080;
    color: white;
}

.menu .menu-item .menu-item-title .icon-menu {
    font-size: 18px;
    margin-left: 7px;
    margin-right: 12px;

}

.menu .menu-item ul {
    padding-top: 11px;
}

.menu .menu-item ul li {
    height: 39px;
    line-height: 39px;
    background: url(../img/渠道.png) no-repeat 13px center;
    padding-left: 40px;
}




.main {
    margin: 115px 10px 20px 290px;
    min-height: 1000px;
    /* background: pink; */
    border-radius: 10px;
}

.main-row {
    display: flex;
    flex-wrap: wrap;
}

.main-row .col {
    /* border: 1px solid red; */
    min-height: 200px;
    padding: 10px;
}

.main-row .col-gap {
    padding-top: 0;
}

.main-row .col .col-content {
    background-color: #fff;
    height: 100%;
    border-radius: 10px;
}

.main.row {
    padding-top: 10px;
}

/* 文字样式 */
.col-data {
    position: relative;
}

.col-data p {
    color: #5B5B80;
    font-size: 20px;

    position: absolute;
    top: 33px;
    left: 30px;
}

.col-data span {
    color: #C5C5C5;
    font-size: 16px;

    position: absolute;
    top: 89px;
    left: 30px;
}

.col-data a {
    color: #9C71FC;

    position: absolute;
    top: 129px;
    left: 30px;
}

.col-data i {
    color: #5B5B5B;
    font-size: 32px;

    position: absolute;
    top: 83px;
    right: 36px;
}

/* 最新报名学员 */
.col-Student {
    position: relative;
}

.col-Student>strong {
    position: absolute;
    top: 33px;
    left: 30px;

    color: #5B5B80;
    font-size: 20px;
    font-weight: normal;
}

.col-Student .header1>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 96px;
    margin-left: 31px;
    margin-right: 31px;
}

.col-Student .header2>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    margin-left: 31px;
    margin-right: 31px;
}

.col-Student .header2 .picture {

    width: 50px;
    height: 50px;
}

.col-Student .header2 .name {
    margin-left: -137px;

}

.col-Student .header2 .wz {
    margin-left: -76px;
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-Student .header2 .fp {
    margin-left: -75px;
}

.col-Student .header2 .money {
    margin-right: -6px;
}

.col-Student .header2 .fh {
    margin-right: -8px;
}
/*最后一行修改*/
.update{
    margin-bottom: 10px;
}
/* 热门课程 */
.col-course dd {
    color: #5B5B80;
    font-size: 20px;
    padding-top: 33px;
    padding-left: 30px;
}

.col-course>.one>ul li {
    display: flex;
    margin-top: 18px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.col-course>.one>ul li>.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #F0F2FF;
    border-radius: 10px;

}

.col-course>.one>ul li>p {
    color: #5B5B5B;
    font-size: 14px;
    margin-left: 16px;
}

.col-course>.one>ul li>span {
    color: #B9B9B9;
    font-size: 14px;
    margin-left: -130px;
    margin-top: 26px;
}

.col-course>.one>ul>.first {
    margin-top: 41px;
}

.col-course>.one>ul>.second>span {
    margin-left: -157px;
}

.col-course>.one>ul>.second>.bg {
    background: #EFE8FF;
}

.col-course>.one>ul>.thirdly>span {
    margin-left: -94px;
}

.col-course>.one>ul>.thirdly>.bg {
    background: #FAD7DD;
}

.col-course>.one>ul>.fourth>span {
    margin-left: -102px;
}

.col-course>.one>ul>.fourth>.bg {
    background: #FFF5E0;
}

.col-course>.one>ul>.firth>span {
    margin-left: -119px;
}

.col-course>.one>ul>.firth>.bg {
    background: #EFE8FF;
}

/*站长公告*/
.col-notice {
    position: relative;
}

.col-notice>p {
    color: #5B5B80;
    font-size: 20px;
    padding-top: 33px;
    margin-left: 35px;


}

.col-notice>span {
    display: inline-block;
    width: 451px;
    height: 254px;
    margin-left: 35px;
    margin-top: 23px;

}

.col-notice>i {

    width: 325px;
    height: 82px;
    display: block;
    margin-left: 35px;
    margin-top: -51px;
}

/*常用入口*/
.col-entrance>strong {
    display: inline-block;
    color: #5B5B80;
    font-size: 20px;
    padding-top: 33px;
    margin-left: 31px;
    font-weight: normal;
}

.col-entrance>ul {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 34px;
}

.col-entrance>ul>li>.bg {
    display: block;
    width: 40px;
    height: 40px;
    background: #F0F2FF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-entrance>ul>li>p {
    margin-left: 55px;
    margin-top: -32px;
    color: #5B5B5B;
    font-size: 16px;
}

/*课程交易金额*/
.col-add>.one>ul li>span {
    color: red;
}

/*底部*/
.footer {
    height: 50px;
    background-color: rgba(0, 0 ,0, .3);
    border-radius: 10px;

    position: relative;
    z-index: 2222;
}
.footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}