/* 大于1200px的样式写这里 */
.xxlg-hide{
    display: none;
}
.col-xxlg-1{
    width: 8.33333333%;
}
.col-xxlg-2{
    width: 16.66666667%;
}
.col-xxlg-3{
    width: 25%;
}
.col-xxlg-4{
    width: 33.33333333%;
}
.col-xxlg-5{
    width: 41.66666667%;
}
.col-xxlg-6{
    width: 50%;
}
.col-xxlg-7{
    width: 58.33333333%;
}
.col-xxlg-8{
    width: 66.66666667%;
}
.col-xxlg-9{
    width: 75%;
}
.col-xxlg-10{
    width: 83.33333333%;
}
.col-xxlg-11{
    width: 91.66666667%;
}
.col-xxlg-12{
    width: 100%;
}

/* 屏幕宽 > 1200px,同时<=1400px时，样式写在这里*/
@media screen and (max-width:1400px) {
    .menu{
        width: 65px;
        overflow: hidden;
    }
    /* .menu-item{
        height: 40px;
    } */
    .main{
        margin-left: 105px;
    }
    .xlg-show{
        display: block;
    }
    .col-xlg-1{
        width:8.33333333px;
    }
    .col-xlg-2{
        width: 16.66666667%;
    }
    .col-xlg-3{
        width: 25%;
    }
    .col-xlg-4{
        width: 33.33333333%;
    }
    .col-xlg-5{
        width: 41.66666667%;
    }
    .col-xlg-6{
        width: 50%;
    }
    .col-xlg-7{
        width: 58.33333333%;
    }
    .col-xlg-8{
        width: 66.66666667%;
    }
    .col-xlg-9{
        width: 75%;
    }
    .col-xlg-10{
        width: 83.33333333%;
    }
    .col-xlg-11{
        width: 91.66666667%;
    }
    .col-xlg-12{
        width: 100%;
    }
}

/* 当大于1200px 同时小于等于 1300px */
@media screen and (max-width:1300px){
    .menu{
        display: none;
    }
    .main{
        margin-left: 10px;
    }
}


/* 屏幕宽 > 992px,同时<=1200px时，样式写在这里*/
@media screen and (max-width:1200px) {
    .main-row .col-gap{
        padding-top: 10px;
    }
    .col-lg-1{
        width:8.33333333px;
    }
    .col-lg-2{
        width: 16.66666667%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.33333333%;
    }
    .col-lg-5{
        width: 41.66666667%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33333333%;
    }
    .col-lg-8{
        width: 66.66666667%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-10{
        width: 83.33333333%;
    }
    .col-lg-11{
        width: 91.66666667%;
    }
    .col-lg-12{
        width: 100%;
    }
}

/* 屏幕宽 > 768px,同时<=992px时，样式写在这里*/
@media screen and (max-width:992px) {
    .col-md-1{
        width:8.33333333px;
    }
    .col-md-2{
        width: 16.66666667%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.33333333%;
    }
    .col-md-5{
        width: 41.66666667%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.33333333%;
    }
    .col-md-8{
        width: 66.66666667%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-10{
        width: 83.33333333%;
    }
    .col-md-11{
        width: 91.66666667%;
    }
    .col-md-12{
        width: 100%;
    }
}

/* 屏幕宽 > 766px,同时<=768px时，样式写在这里*/
@media screen and (max-width:768px) {
    .main-row .col-gap{
        padding-top: 10px;
    }
    .col-sm-1{
        width:8.33333333px;
    }
    .col-sm-2{
        width: 16.66666667%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.33333333%;
    }
    .col-sm-5{
        width: 41.66666667%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.33333333%;
    }
    .col-sm-8{
        width: 66.66666667%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width: 83.33333333%;
    }
    .col-sm-11{
        width: 91.66666667%;
    }
    .col-sm-12{
        width: 100%;
    }
}

/* 屏幕宽 <=576px时，样式写在这里*/
@media screen and (max-width:576px) {
    .col-1{
        width:8.33333333px;
    }
    .col-2{
        width: 16.66666667%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33333333%;
    }
    .col-5{
        width: 41.66666667%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33333333%;
    }
    .col-8{
        width: 66.66666667%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 83.33333333%;
    }
    .col-11{
        width: 91.66666667%;
    }
    .col-12{
        width: 100%;
    }
}